$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #125488;
$secondary-color: #2A93D5;
$light-primary-color: #37caec;
$light-secondary-color: #3DD9D6;

$gradient: black;
$secondary-gradient: transparent;